*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
}


/*  HERO */

.hero{
    background: #57616c;
    padding: 40px 0 1px 0;
    height: auto;
}

.logoo{
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.hero-iphone{
    
    margin-top: 40px;
    width: 430px;
}

.logo{
    width: 150px;
}

.menu{
    display: flex;
    gap: 40px;
}

.menu a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.menu .active{
    background: rgba(63, 73, 107);
    padding: 0 18px;
    border-radius: 40px;
}

.hero-contenedor{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 0px 20px;
   
}



.hero-contenedor .colorlorem {
    color: rgb(200, 200, 200);
    font-weight: bolder;
}

.hero-contenedor .color {
    color: white;
    font-weight: bolder;
}

.hero-text h1{
    color: white;
    font-size: 55px;
    margin-bottom: 15px;
}

.hero-text p{
    color: #d9d9d9;
    line-height: 22px;
    margin-bottom: 25px;
}

.hero-buttons{
    display: flex;
    align-items: center;
    gap: 12px;
}

.btn-blue{
    background: #2c7dde;
    border: none;
    color: white;
    padding: 12px 35px;
    border-radius: 30px;
    cursor: pointer;
}

.link-work{
    display: flex;
    align-items: center;
    gap: 6px;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.link-work img{
    width: 16px;
}


/*  LOGOS  */

.logos{
    background: #eee;
    display: flex;
    justify-content: space-evenly;
}

.logos img{
    width: 90px;
    opacity: 0.5;
}


/*  caja  */

.caja{
    background: #f7f7f7;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.cajas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 230px;
    text-align: center;
}

.cajas img{
    width: 90px;
    margin-bottom: 20px;
}

.cajas p{
    color: #777;
    margin-bottom: 20px;
}

.cajas button {
    width: auto;
    padding: 10px 25;
}


/*  PROJECTS */

.projects{
    padding: 50px 20px;
    margin: auto;
    max-width: 950px;
}

.titulo-icono{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    margin-left: 0px;
}


.titulo-icono img{
    width: 20px;
}

.projects-imagenes{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.projects-imagenes img{
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 3px;
}


/*  BLOG y TWITTER  */

.blog-twitter{
    max-width: 1100px;
    margin:auto;
    display:flex;
    justify-content: space-between;
    gap: 60px;
    padding: 80px 20px;
}

.titulo-icono2{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.titulo-icono3{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}


.blog, .twitter{
    width: 350px;
}

.blog-post{
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.blog-post img{
    width: 90px;
    height: 70px;
    object-fit: cover;
}

.blue-link{
    color: #2c7dde;
    cursor: pointer;
    text-decoration: none;
}

.text{
    color: #2c7dde;
    text-decoration: none;
    font-weight: bolder;
}

.twitter a {
    color: #2c7dde;
    text-decoration: none;
    font-weight: bolder;
}


hr{
    width: 75%;
    margin-bottom: 60px;
    margin-left: 150px;
}

/* FOOTER */

.footer {
    background: #f2f2f2;
    padding: 50px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #777;
}

.footer-icons img {
    width: 30px;
    margin-left: 20px;
    opacity: 0.8;
    transition: 0.2s ease;
}

.footer-icons img:hover {
    opacity: 1;
}

/* MEDIA QUERIES- LAPTOP */
@media (min-width: 921px) and (max-width: 1279px){
    
.hero-contenedor{
    gap: 60px;
    padding: 40px;
}

.hero-iphone{
    width:350px;
}

.hero-text h1{
    font-size: 48px;
}

.hero-text p{
    font-size: 16px;
}

.projects-imagenes img{
    width: 220px;
    height: 160px;
}
}

/* MEDIA QUERIES- TABLET DE LADO */
@media (min-width: 769px) and (max-width: 920px){
    body {
        width: 100%;
    }

    .logoo{
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
        
    .menu{
        gap: 25px;
        flex-wrap: wrap;
    }

    .hero-contenedor{
        flex-direction: column;
        text-align: center;
        gap: 30px;
        height: auto;
        padding-top: 50px;
    }

    .hero-iphone{
        width: 330px;
      
    }

    .hero-text h1{
        font-size: 36px;
    }

    .hero-text p{
        font-size: 11px;
        width: 70%;
        margin: auto;
    }

    .hero-buttons{
        justify-content: center;
    }

    .logos{
        display: flex;
        justify-content: center;
        gap: 40px;
        padding: 20px 10px;
        overflow: hidden;
    }

    .logos img{
        width: 50px;
        height: auto;
        opacity: 0 .45;
        object-fit: contain;
    }


  .caja{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
  

  .cajas{
    width: 700px;
    max-width: 600%;
    text-align: center;
  }

  .cajas p{
    max-width: 260px;
    margin: auto;
    font-size: 14px;
  }


/*Aqui*/
  .projects {
    padding: 40px 0;
    margin-left: 270px;
    text-align: center;
}

.title-icon{
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.projects-imagenes {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.projects-imagenes img{
    width: 100%;
    max-width: 280px;
    height: auto;
    border-radius: 12px;
   
}


.blog-twitter{
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 50%;
}

.blog, .twitter{
    width: 90%;
}

hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    flex-direction: column;
    gap: 20px;
}
}

 

/* MEDIA QUERIES- SMARTPHONES DE LADO */
@media (min-width: 481px) and (max-width: 768px){
.logoo{
    flex-direction: column;
    gap: 15px;
}

.menu{
    gap: 20px;
    flex-wrap: wrap;
}

.hero-contenedor{
    flex-direction: column;
    text-align: center;
    gap: 25px;
    padding-top: 40px;
}

.hero-iphone{
    width: 280px;
}

.hero-text h1{
    font-size: 32px;
}

.hero-text p{
    font-size: 12px;
    width: 80%;
    margin: auto;
}

.hero-buttons{
    justify-content: center;
}


.logos{
    gap: 25px;
    padding: 20px 5px;
}

.logos img{
    width: 45px;
}


.caja{
    flex-wrap: wrap;
    gap: 30px;
}

.cajas{
    width: 100%;
}

.cajas p{
    max-width: 240px;
    margin: auto;
    font-size: 13px;
}


.projects{
    padding: 40px 0;
    text-align: center;
}

.projects-imagenes{
    flex-direction: column;
    align-items: center;
}

.projects-imagenes img{
    max-width: 250px;
    width: 100%;
    border-radius: 10px;
}


.blog-twitter{
    flex-direction: column;
    width: 90%;
    gap: 40px;
}

.blog, .twitter{
    width: 100%;
}

hr{
    width: 60%;
    margin: auto;
}

.footer{
    flex-direction: column;
    gap: 20px;
}
}



/* MEDIA QUERIES- SAMALLER SMARTPHONE */
@media (min-width: 352px) and (max-width: 480px) {
.hero{
    width: 115%;
}
.logoo{
    flex-direction: column;
    gap: 40px;
}

.menu{
    gap: 9px;
    flex-wrap: wrap;
}

.hero-contenedor{
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding-top: 10px;
}

.hero-iphone{
    width: 200px;
}

.hero-text h1{
    font-size: 26px;
}

.hero-text p{
    font-size: 11px;
    width: 90%;
    margin: auto;
}

.hero-buttons{
    justify-content: center;
    flex-wrap: wrap;
}


.logos{
    gap: 15px;
    padding: 15px 5px;
}

.logos img{
    width: 40px;
}


.caja{
    flex-direction: column;
    gap: 40px;
}

.cajas{
    width: 100%;
}

.cajas p{
    max-width: 220px;
    margin: auto;
    font-size: 12px;
}


.projects{
    text-align: center;
}

.projects-imagenes{
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.projects-imagenes img{
    max-width: 220px;
    width: 100%;
    border-radius: 10px;
}


.blog-twitter{
    flex-direction: column;
    width: 100%;
    gap: 40px;
}

.blog, .twitter{
    width: 100%;
}

hr{
    width: 70%;
    margin: auto;
}

.footer{
    flex-direction: column;
    width: 50%;
    gap: 15px;
}

.footer-icons {
    width: 225px;
}
}